<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <h1>Make It Happen with JSONForms & Angular</h1>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <nav>
    <a mat-button routerLink="/day1">Day 1</a>
    <a mat-button routerLink="/day2">Day 2</a>
    <a mat-button routerLink="/day3">Day 3</a>
    <a mat-button routerLink="/day4">Day 4</a>
    <a mat-button routerLink="/day5">Day 5</a>
    <a mat-button routerLink="/day6">Day 6</a>
    <a mat-button routerLink="/initial">Initial</a>
    <a mat-button routerLink="/final">Final</a>
  </nav>
</mat-toolbar>
<mat-card class="mih-card">
  <router-outlet></router-outlet>
</mat-card>